[project]
	description = "JPush's officially supported Java client library for accessing JPush APIs.   ????????? Java ?????? SDK?"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Javen (javenfang)
[access "refs/for/refs/*"]
	read = group user/Javen (javenfang)
	push = group user/Javen (javenfang)
	label-Code-Review = -2..+2 group user/Javen (javenfang)
	label-Verified = -1..+1 group user/Javen (javenfang)
	rebase = group user/Javen (javenfang)
	removeReviewer = group user/Javen (javenfang)
	submit = group user/Javen (javenfang)
[access "refs/heads/*"]
	read = group user/Javen (javenfang)
	create = group user/Javen (javenfang)
	push = +force group user/Javen (javenfang)
	pushMerge = group user/Javen (javenfang)
[access "refs/tags/*"]
	push = +force group user/Javen (javenfang)
	pushTag = group user/Javen (javenfang)
	pushSignedTag = group user/Javen (javenfang)
